
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

/*LOGIN PAGE*/

.login-page {
  background-color: rgb(221, 255, 170);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 99vh;
  padding-top: 10px;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.login-signup-container {
  background-color: rgba(255, 255, 255, 0.747);
  width: 20vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.login-signup-container .form-group {
  display: flex;
  flex-direction: column;
}

.login-signup-container input {
  height: 2em;
  border-width: 1px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.login-signup-container h2 {
  font-family: 'Satisfy', cursive;
  text-align: center;
  font-size: 2em;
}

.login-signup-btn {
  width: 100%;
  border-radius: 10px;
  border-width: 0px;
  height: 2em;
  margin-top: 5px;
  background-color: green;
  border-color: green;
  color: white;
  font-size: medium;
  text-decoration: bold;
}

.login-signup-btn:hover {
  background-color: rgb(84, 146, 84);
  cursor: pointer;
}

.sign-up-login-switch {
  text-decoration: underline;
}

.sign-up-login-switch:hover {
  color:green;
  cursor: pointer;
}

/*APP/HOME*/

.top-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-link-logo {
  width: 15vw;
}

/*NAVBAR*/

.navbar {
  font-size: large;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: solid 1px;
  border-bottom: solid 1px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-color: darkgray;
  font-size: 14px;
  color: rgb(43, 43, 43);
}

.notification-dot {
  font-size: 6px;
  vertical-align: top;
}

.left-section {
  display: flex;
  align-items: center;
}

.greeting {
  /*style greeting?*/
}



.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-left: 50px;
}

.nav-link {
  color: rgb(43, 43, 43);
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.logout-span {
  color: darkgreen;
}

.logout-span:hover {
  color: darkgreen;
  text-decoration: underline;
  cursor: pointer;
}

