
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

/*LOGIN PAGE*/

.login-page {
  background-image: url('./eh-background.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 99vh;
  padding-top: 10px;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.login-signup-container {
  background-color: rgba(255, 255, 255, 0.747);
  width: 20vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.login-signup-container .form-group {
  display: flex;
  flex-direction: column;
}

.login-signup-container input {
  height: 2em;
  border-width: 1px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.login-signup-container h2 {
  font-family: 'Satisfy', cursive;
  text-align: center;
  font-size: 2em;
}

.login-signup-btn {
  width: 100%;
  border-radius: 10px;
  border-width: 0px;
  height: 2em;
  margin-top: 5px;
  background-color: green;
  border-color: green;
  color: white;
  font-size: medium;
  text-decoration: bold;
}

.login-signup-btn:hover {
  background-color: rgb(84, 146, 84);
  cursor: pointer;
}

.sign-up-login-switch {
  text-decoration: underline;
}

.sign-up-login-switch:hover {
  color:green;
  cursor: pointer;
}

/*APP/HOME*/

.top-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-link-logo {
  width: 15vw;
}

/*NAVBAR*/

.navbar {
  font-size: large;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: solid 1px;
  border-bottom: solid 1px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-color: darkgray;
  font-size: 14px;
  color: rgb(43, 43, 43);
}

.notification-dot {
  font-size: 6px;
  vertical-align: top;
}

.left-section {
  display: flex;
  align-items: center;
}

.greeting {
  /*style greeting?*/
}



.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-left: 50px;
}

.nav-link {
  color: rgb(43, 43, 43);
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.logout-span {
  color: darkgreen;
}

.logout-span:hover {
  color: darkgreen;
  text-decoration: underline;
  cursor: pointer;
}

/*PROFILE PAGE*/

.profile-container {
  position: relative;
  max-width: 70vw;
  height: 100vw;
  margin: 0 auto;
  overflow: hidden;
  border-left: solid 1px;
  border-right: solid 1px;
  border-color: darkgray;
}

.cover-image {
  width: 100%;
  height: 200px; /* Set the desired height for the cover image */
  object-fit: cover;
  border-bottom: solid 1px;
  border-color: darkgray;
}

.avatar {
  position: absolute;
  top: 60px; /* Adjust this value to control the vertical overlap */
  left: 20px; /* Adjust this value to control the horizontal overlap */
  width: 170px;
  height: 175px;
  object-fit: cover;
  border: 3px solid white;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.avatar-edit {
  position: absolute;
  top: 60px; /* Adjust this value to control the vertical overlap */
  left: 20px; /* Adjust this value to control the horizontal overlap */
  width: 170px;
  height: 175px;
  object-fit: cover;
  border: 3px solid white;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  opacity: 0.7;
}

.avatar-form-group {
  padding-top: 40px;
  font-size: 0.7em;
  padding-left: 20px;
}

input::file-selector-button {
  font-weight: bold;
  color: darkgreen;
  background-color:white;
  padding: 0.3em;
  border: none;
  border-radius: 5px;
  font-size: 1em;
}

input::file-selector-button:hover {
  cursor: pointer;
  color: pink;
}

.profile-text-container {
  padding-top: 20px;
  margin-left: 0.75vw;
}

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 10vw;
  padding-right: 10vw;
  border:solid;
}

/*NEW EVENT FORM*/

/* .new-event-form-container {
  border-radius: 5px;
  border: none;
  background-color: darkgreen;
  width: 70vw;
  margin: 0 auto;
  margin-top: 10px;
} */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 40vw;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.event-form-container {
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.event-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  margin-right: 20px;
}

.event-form form-group {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 10px;
  align-items: center;
}

.event-form label {
  font-weight: bold;
}

.event-form input[type="text"],
.event-form input[type="email"],
.event-form input[type="number"],
.event-form input[type="datetime-local"] {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.event-form button {
  padding: 10px 20px;
  background-color: darkgreen;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.event-form button:hover {
  background-color: rgb(0, 164, 0);
}


/*SEARCH BAR*/

.search-form {
  margin-top: 10px;
}

.search-bar {
  display: flex;
  max-width: 400px;
  margin: 0 auto;
  background-color: #f0f0f0;
  border-radius: 20px;
  overflow: hidden;
  border: solid;
  border-width: 1px;
  border-color: darkgray;
}

.search-bar input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}

.search-bar button {
  padding: 10px 20px;
  background-color: darkgreen;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.search-bar button:hover {
  background-color: rgb(0, 176, 0);
}
