@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&family=Satisfy&display=swap');

  .event-details-container-closed {
    margin: 20px;
  }
  
  .event-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .event-text {
    margin-left: 15vw;
    padding-left: 20px;
    margin-right: 20vw;
    border-left: solid;
    border-width: 1px;
    border-color: darkgray;
  }
  
  .event-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .event-name-date-time {
    flex: 3;
    border-bottom: solid;
    border-width: 1px;
    border-color: darkgray;
    /* margin-right: 200px; */
    padding-bottom: 10px;
    width: 100%;
    min-width: 300px;
  }

  .edit-event-button {
    margin-top: 5px;
    border-radius: 10px;
    border: solid;
    border-width: 1px;
    background-color: white;
    color: rgb(83, 83, 83);
    font-size: 12px;
    padding-top: 2px;
  }

  .edit-event-button:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(156, 155, 155);
  }
  
  .top-info {
    border-bottom: solid;
    border-width: 1px;
    border-color: darkgray;
    margin-right: 535px;
    padding-bottom: 20px;
    min-width: 300px;
    padding-top: 10px;
    width: 100%;
  }
  
  .bottom-info {
    margin-top: 20px;
  }
  
  .event-name {
    font-size: 36px;
    font-family: 'Bricolage Grotesque', sans-serif;
    margin: 0;
  }
  
  .venue-date-time {
    font-size: 18px;
    margin: 5px 0;
  }
  
  .event-info p {
    margin: 5px 0;
  }

/*MESSAGES*/

  .event-details-container-open {
    display: flex;
    
  }

  .event-details-container-open .left-side{
    width: 50vw;
    overflow: hidden;
  }

  .event-details-container-open img{
    margin: 20px;
    width: 96%;
  }

  .right-side {
    width: 50vw;
    padding: 20px;
    
  }

  .message-box {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: 96%;
  }

  .message-container {
    overflow-y: scroll;
    height: 90%;
    margin-bottom: 20px;
  }
  
  .my-comment {
    color: goldenrod;
  }

  .your-comment {
    color: darkgreen;
  }

  /* MESSAGE FORM */

  .message-form {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-top: 1px solid #ccc;
    padding: 10px;
  }
  
  .message-form input {
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
    margin-right: 10px;
  }
  
  .send-button {
    background-color: darkgreen;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.1s;
  }
  
  .send-button:hover {
    background-color: green;
  }
  
  