@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@10..48&family=Satisfy&display=swap');

.navbar {
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: solid 1px;
    border-bottom: solid 1px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-color: darkgray;
    font-size: 14px;
    color: rgb(43, 43, 43);
    font-weight: bold;
  }
  
  .notification-dot {
    font-size: 6px;
    vertical-align: top;
  }
  
  .left-section {
    display: flex;
    align-items: center;
  }
  
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 50px;
  }
  
  .nav-link {
    color: rgb(43, 43, 43);
    text-decoration: none;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  .logout-span {
    color: darkgreen;
  }
  
  .logout-span:hover {
    color: darkgreen;
    text-decoration: underline;
    cursor: pointer;
  }
  